$title-active: var(--title-active);
$body: var(--body);
$label: var(--label);
$placeholder: var(--placeholder);
$border: var(--border);
$line: var(--line);
$input-bg: var(--input-bg);
$background: var(--background);
$off-white: var(--off-white);
$secondary: var(--secondary);
$primary: var(--primary);

$font-main: var(--font-main);

:root {
	--font-main: 'Tenor Sans', Arial, sans-serif;

	--title-active: #000;
	--body: #333;
	--label: #555;
	--placeholder: #888;
	--border: #dedede;
	--line: #e0cfba;
	--input-bg: #f9f9f9;
	--background: #f8f0e759;
	--off-white: #fcfcfc;
	--secondary: #dd8560;
	--primary: #a8715a;
}
