@use '../abstracts/variables' as *;

// ===========================
// Headings
// ===========================
.heading-italic {
	font-family: $font-title;
	font-size: 38px;
	font-weight: 700;
	font-style: italic;
	line-height: 1.12;
	letter-spacing: 1.21px;
}

.heading-xl {
	font-family: $font-main;
	font-size: 34px;
	font-weight: 400;
	line-height: 1.2;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.heading-lg {
	font-family: $font-main;
	font-size: 28px;
	font-weight: 400;
	line-height: 1.2;
	letter-spacing: 0.08em;
	text-transform: uppercase;
}

.heading-md {
	font-family: $font-main;
	font-size: 24px;
	font-weight: 400;
	line-height: 1.2;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}

// ===========================
// Subtitles
// ===========================

.subtitle-lg {
	font-family: $font-main;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.4;
	letter-spacing: 0.08em;
	text-transform: uppercase;
}

.subtitle-sm {
	font-family: $font-main;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.4;
	letter-spacing: 0.08em;
	text-transform: uppercase;
}

// ===========================
// Body
// ===========================

.body-lg {
	font-family: $font-main;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.7;
}

.body-md {
	font-family: $font-main;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
}

.body-sm {
	font-family: $font-main;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
}

.body-xs {
	font-family: $font-main;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.58;
}

// ===========================
// Helper
// ===========================

.text-uppercase {
	text-transform: uppercase;
}
